@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@layer components {

    /* TEXTOS */
    .title-hero {
        @apply text-almost-black text-8xl font-bold font-sans tracking-[4.80px];
    }

    .title-section {
        @apply text-almost-black text-5xl font-bold font-sans;
    }

    .title-section-navy {
        @apply text-navy text-5xl font-bold font-sans;
    }

    .title-section-light {
        @apply text-brand-white text-5xl font-bold font-sans;
    }

    .title-card {
        @apply text-almost-black text-2xl font-bold font-sans;
    }

    .title-card-light {
        @apply text-brand-white text-2xl font-bold font-sans;
    }

    .label-section {
        @apply text-pop-celeste text-xl font-bold font-sans uppercase tracking-wide;
    }

    .body-text {
        @apply text-almost-black text-lg font-normal font-sans;
    }

    .body-small {
        @apply text-almost-black text-sm font-normal font-sans;
    }

    .body-xs {
        @apply text-almost-black text-xs font-normal font-sans;
    }

    .artist-meta {
        @apply text-navy text-sm font-bold font-sans uppercase leading-4 tracking-wide;
    }


    /* BOTONES */

    .btn-primary {
        @apply px-8 py-4 bg-navy text-brand-white font-bold font-sans text-xl tracking-wide border-2 border-navy inline-flex justify-center items-center transition-all duration-200;
    }

    .btn-primary:hover {
        @apply bg-brand-white text-navy border-navy;
        transform: translateY(-2px);
            box-shadow: 3px 3px 0px 0px #000;
    }

    .btn-primary-light {
        @apply px-8 py-4 bg-brand-white text-navy font-bold font-sans text-xl tracking-wide border-2 border-brand-white inline-flex justify-center items-center transition-all duration-200;
    }

    .btn-primary-light:hover {
        @apply bg-navy text-brand-white border-white;
        transform: translateY(-2px);
            box-shadow: 3px 3px 0px 0px white;
    }

    .btn-secondary {
        @apply px-8 py-4 text-navy font-bold font-sans text-xl tracking-wide border-2 border-navy inline-flex justify-center items-center transition-all duration-200;
    }

    .btn-secondary:hover {
        @apply bg-navy text-brand-white;
        transform: translateY(-2px);
            box-shadow: 3px 3px 0px 0px #000;
    }

    .btn-secondary-ghost {
        @apply px-8 py-4 text-navy font-bold font-sans text-xl tracking-wide inline-flex justify-center items-center transition-all duration-200;
    }

    .btn-secondary-ghost:hover {
        @apply underline;
        transform: translateY(-2px);
            box-shadow: 3px 3px 0px 0px #000;
    }

    .btn-sm { /* SMALL → filtros, paginación */
        @apply px-4 py-2 text-sm;
    }

    .btn-md { /* MEDIUM → default */
        @apply px-6 py-3 text-base;
    }

    .btn-lg { /* LARGE → hero CTA */
        @apply px-8 py-4 text-xl;
    }

    .btn-filter {
        @apply px-4 py-3 text-xl text-navy font-normal font-sans tracking-wide border-2 border-navy inline-flex justify-center items-center transition-all duration-200;
    }

    .btn-filter:hover {
        @apply bg-navy text-brand-white;
        transform: translateY(-2px);
            box-shadow: 3px 3px 0px 0px #000;
    }


    /* LINKS DE NAVEGACIÓN */
    .nav-link {
        @apply px-2 py-3 text-navy font-medium hover:bg-navy hover:text-brand-white transition-all;
    }
    
    .nav-link-active {
        @apply px-2 py-3 text-navy font-bold font-sans underline underline-offset-4 decoration-2 decoration-navy;
    }

    /* CARDS */
    .card {
        @apply p-8 bg-cream shadow-[5px_8px_4px_0px_rgba(0,0,0,0.25)] flex flex-col items-center gap-6;
    }
    .card-pop {
        @apply card outline outline-4;
    }


    /* SECCIONES */
    .section-light {
        @apply w-full px-20 py-20 bg-cream;
    }

    .section-white {
        @apply w-full px-20 py-20 bg-brand-white;
    }

    .section-dark {
        @apply w-full px-20 py-20 bg-navy;
    }

    /* PAGINACIÓN */
    .pagination-item {
        @apply px-4 py-2 border-2 border-navy font-bold font-sans text-sm text-navy transition-all duration-200;
    }

    .pagination-item:hover {
        @apply bg-pop-yellow text-navy;
        transform: translateY(-2px);
            box-shadow: 3px 3px 0px 0px #000;
    }

    .pagination-item.active {
        @apply bg-navy text-brand-white;
    }

}


@layer utilities {

    /* Ocultar scrollbar */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}